<!-- Code inside the greet.ejs file. -->
<h1>Hello, <%= username %></h1>
<!--// Code inside the app.js file-->
<!--app.get('/greet', (req, res) => {-->
<!--const username = 'John';-->
<!--res.render('greet.ejs', { username });-->
<!--});-->
